*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #0A0908;
    color: #E2E2E2;
}
.apresentacao{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 8%;
}
.titulo-destaque{
    color: #22D4FD ;
}
.links{
    background-color: #0d5666;
    color: #E2E2E2;
    /* padding: 1rem; */
}