*{
    margin: 0;
    padding: 0;
}
.apresentacao{
    display: flex;
    align-items: center;
}
body{
    height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    background-color: #0A0908;
    color: #E2E2E2;
}
.titulo-destaque{
    color: #22D4FD ;
}
a{
    background-color: #22D4FD;
    color: #E2E2E2;
    padding: 1rem;
}